SALT_ROUNDS=10
PORT=1234
DB_TOKEN='tuTokenDeLaBaseDeDatosTursoOLaQUePrefieras'
DB_URL='libsql://nombre-de-tu-base-de-datos.turso.io'
SECRET_JWT_KEY='tu-clave-super-secreta-con-hashes-69abd4abf577d7cfd6d370f146611fea-super-largo'
EXPIRES_IN='2h'